# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# backend related
backend/.env

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release
frontend/.env
